@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["Message"]</p>
<p>Esta aplicação foi desenvolvida como parte da Global Solution da FIAP.</p>
<p>O objetivo é fornecer uma ferramenta para cadastro e gerenciamento de eventos climáticos extremos e das pessoas afetadas por eles, facilitando a resposta a emergências e a organização de ajuda humanitária.</p>
