@{
    ViewData["Title"] = "Página Inicial";
}
<div class="text-center">
    <h1 class="display-4">Bem-vindo ao GsDotNet</h1>
    <p>Aplicação para gerenciamento de eventos climáticos e pessoas afetadas.</p>
</div>
